* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle, red, blue);
  text-align: center;
}
div {
  width: 10%;
  height: 300px;
  margin: 10px;
}
.static {
  position: static;
  border-color: red;
  color: blue;
  background: linear-gradient(green, blue);
}
.relative {
  position: relative;
  background: radial-gradient(green, blue);
  left: 100px;
  bottom: 20px;
  top: 100px;
}
.absolu {
  margin: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: hsl(80, 55%, 61%);
  left: 20px;
  top: 20px;
}
.fixed {
  background-color: darkblue;
  position: fixed;
  /* left: 200px; */
  top: 200px;
  right: 0;
}
.stic {
  background-color: aliceblue;
  position: sticky;
  top: 20px;
}
h1 {
  /* display: none; */
  /* visibility: hidden; */
  /* text-shadow: 2px 2px 10px blue; */
  /* text-shadow: 2px 2px 5px green; */
}
