*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
}
div{
    background-color: red;
    width:400px;
}
.pixel {
    height: 20px;
    margin: 20px;
}
.per {
    height: 20px; 
}
h1{
    text-align:center;
    color:blue;
}