/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */
h1{
    text-align:center;
    color:blue;
}
body{
    background-color: black;
    color:white;
}
div {
     height: 20px;
    margin-bottom: 20px;
}
.pixel {
    background-color: red;
    width: 200px;

}
.per {
    background-color: skyblue;
        width:50%
}
.vw {
    background-color: blue;
    width:50vw;
}
