@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
h1{
    text-align:center;
    color: blue;
    font-family: "Story Script",sans-serif;
}
body{

    background-image: url("reddy.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.re{
    width:100px;
    height:100px;
    border:2px solid red;
    background-image: url(reddy.jpg);
    background-size: 10% 9%;

}
