@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
h1{
    text-align:center;
    color: blue;
    font-family: "Story Script",sans-serif;
}
body{

    background-image: url("https://www.bing.com/images/search?q=allu%20arjun%20images&FORM=IQFRBA&id=BF0E7F66651A95B9A7545BC5C805C96FD982D58A.png");
    background-size: cover;
}